<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hot Restaurant</title>
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  </head>

  <body>
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <div class="jumbotron">
                <h1 class="text-center">Hot Restaurant</h1><hr>
                <h3 class="text-center">Book your seat before they are all gone!</h3>
                <p class="text-center">
                    <button class="btn btn-danger" onclick="window.location.href='/reserve'">Make Reservation</button>
                    <button class="btn" onclick="window.location.href='/'">Home</button>
                </p>

            </div>                  
          </div>      
        </div>

        <div class="row">
            <div class="col-lg-12">
      
              <div class="card">
                <div class="card-header">
                  <h4>Current Reservations</h4>
                </div>
                <div class="card-body">
                  <ul id="tableList" class="list-group">
                  </ul>
                </div>
              </div>
      
              <div class="card mt-4">
                <div class="card-header">
                  <h4>Waiting List</h4>
                </div>
                <div class="card-body">
                  <ul id="waitList" class="list-group"></ul>
                </div>
              </div>
            </div>
          </div>

        <div class="row">
            <div class="col-sm-12">
                <footer class="footer">
                    <p><a id="clear" href="#">Clear Table</a> | <a href="/api/currentreservations">API Table Link</a> | <a href="/api/waitlist">API Wait List</a></p>
                </footer>                    
            </div>
        </div>

      </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        function runTableQuery() {
            $.ajax({ url: "/api/currentreservations", method: "GET" })
              .then(function(tableData) {
                  tableData.forEach(function(element) {
                      $('#tableList').append("<li>Name: "+ element.name +"</li>")
                      $('#tableList').append("<li>Email: "+ element.email +"</li>")
                      $('#tableList').append("<li>Phone: "+ element.phone +"</li><br>")
                  })
              });

            $.ajax({ url: "/api/waitlist", method: "GET" })
              .then(function(tableData) {
                  tableData.forEach(function(element) {
                      $('#waitList').append("<li>Name: "+ element.name +"</li>")
                      $('#waitList').append("<li>Email: "+ element.email +"</li>")
                      $('#waitList').append("<li>Phone: "+ element.phone +"</li><br>")
                  })
            });
        }

        function clearTable() {
          console.log("Clearing...");

          $.ajax({ url: "/api/clear", method: "POST" }).then(function() {
            $("#waitList").empty();
            $("#tableList").empty();
          });
          location.reload();
        }

        $("#clear").on("click", clearTable);

        runTableQuery();
    </script>
  </body>
</html>